.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.6rem;
  background-color: #56a5eb;
  width: 0%;
}

/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#brain,
#bulb {
  position:absolute;
  left:10%;
  margin-left:-100px;
  width:200px;
  svg {
    width:70%;
  }
}

#bulb {
  width:70px;
  margin-left:-0px;
  animation: rise 9s linear infinite;
  opacity:0;
  top:10em;
  path {
    animation: bulbColor 9s linear infinite;
  }
}

#brain {
  top:2%;
}

#Artboard {
  path {
    stroke-dasharray: 700;
    stroke-dashoffset: 1000;
    animation: dash 9s ease-in-out infinite;
  }
}


@keyframes dash {
  5% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 0;
  }
  90% {
    stroke-dashoffset: 1000;
  }
}

@keyframes rise {
  27% {
    opacity:0;
    top:2em;
  }
  30% {
    opacity:1;
    top:0;
  }
  55% {
    transform: scale(1.2);
  }
  65% {
    opacity:1;
    top:0;
  }
 
  66% {
    top:2em;
    opacity:0;
  }
}

@keyframes bulbColor {
  25% {
    fill:inherit;
  }
  35% {
    fill:yellow;
  }
  100% {
    fill:yellow;
  }
}
h1 {
    background-color: DodgerBlue;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh; /* This ensures the full viewport height */
    margin: 0; /* Remove default margin */
}

